<div id="sidebar">
  <!-- head image -->
  <img src="/img/headshot.png" id="headshot"></img>
  <h1 id="name">Brian Joseff</h1>

  <!-- Projects -->
  <section class="sidebar">
    <h3>Projects</h3>
    <a target="_blank" href="https://bangbang.do" border=0 class="project-logo" id="bangbang-logo"><img src="/img/bangbang-logo.svg"></img></a>
    <h4>Easily take action on issues you care about</h4>
    <br/>
    <a target="_blank" href="https://prometheonsystems.com" border=0 class="project-logo" id="prometheon-logo"><img src="/img/prometheon-logo.svg" style="height: 25px"></img></a>
    <h4>Liberating professionals from stupid forms.</h4>
  </section>

  <!-- Contact -->
  <h3>Contact</h3>
  <div class="contact">
    <a target="_blank" href="https://www.linkedin.com/in/brianjoseff/">
      <img src="/img/icon-linkedin.svg" class="icon"></img>
      Linkedin
    </a>
  </div>
  <div class="contact">
    <a target="_blank" href="mailto:briandpjoseff@gmail.com">
      <img src="/img/icon-email.svg" class="icon"></img>
      Email
    </a>
  </div>
</div>