body {
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica', sans-serif;
  margin: 24px;
}

h1{
  font-size: 36px;
  font-weight: bold;
  color: #666;
}

h1#name{
  font-size: 64px;
  font-weight: bold;
  margin-top: 20px;
  color: #111;
}


h3 {
  font-size: 20px;
  color: #777;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h4 {
  font-size: 14px;
  color: #888;
  font-weight: lighter;
  letter-spacing: 1px;
}

#sidebar {
  width: 217px;
}

#headshot {
  width: 150px;
}

section.sidebar {
  margin-bottom: 56px;
}

.project-logo {
}

a.project-logo {
  display: block;
  height: 30px;
}
a#bangbang-logo{
  background-image: linear-gradient(135deg, #FF003F 50%, transparent 51%);
  background-size: 100px 100px; /* some initial size to get the slanted appearance */
  background-position: -50px -50px; /* negative positioning to hide it initially */
  background-repeat: no-repeat;
  transition: all ease 0.3s;

  width: 132px;
}

a#bangbang-logo:hover {
  background-size: 200% 200%; /* 200% because gradient is colored only for 50% */
  background-position: 0px 0px; /* bring it fully into view */
}

a#prometheon-logo {
  transition: all ease 0.75s;
}
a#prometheon-logo:hover {
  box-shadow: inset -5px -23px 43px -26px #094E73;
  -webkit-box-shadow: inset -5px -23px 43px -26px #094E73;
  -moz-box-shadow: inset -5px -23px 43px -26px #094E73;
  -o-box-shadow: inset -5px -23px 43px -26px #094E73;
}

.contact {
  margin-bottom: 16px;
}

.contact a{
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #777;
}

.contact a:hover{
  color: #333;
}
.icon {
  width: 20px;
  margin-right: 16px;
}