
<div class="god-container">
  {{ partial "header.html" . }}
  <section class="hero-letter">
    <img src="/img/bj2.jpg" id="headshot"></img>
    <!-- <a class="small" href="#">I can’t read your damned handwriting. Show me text!</a> -->
    <img src="/img/letter3.svg" id="letter"></img>
    <p>I want us to win.</p>

    <p>Currently I am at Bedrock.</p>

    <p>We are building a new class of digital machines for people. Private, powerful, and radically yours. More flow state. More creative power. More confidence. It’s time we moved on from clicky desktops, touchscreen toys, and fear-fueled networks.</p>

    <p>I love reading and soccer, physicality and art, petrichor in the chaparral covered hills of Santa Barbara with the sun spangled waters of the channel glittering in the distance. I love animals and trees, bleak windswept vistas, and the primordial mist-shrouded coasts of Northern California.</p>

    <p>Looking forward to seeing you out there.</p>

    <a href="/bedrock" class="link">Bedrock</a></p>

    <img src="/img/bjsignature.png" id="signature"></img>
    <a name="contact" id="contact"></a>
    <a target="_blank" href="mailto:bjexternal@gmail.com" class="email-link">Email me</a>
    <p class="small email-text">bjexternal - gmail</p>
  </section>
  <section class="about">
<!--     <section>
      <div class="link-index">
        <h6>Table of Contents</h6>
        <a href="#work" class="link">Currently working on</a><br/><br/>
        <a href="#interests" class="link">Interests</a><br/><br/>
        <a href="#books-etc" class="link">Notable Books, Essays, Articles, Art, etc.</a><br/><br/>
        <a href="#other-interests" class="link">Other Interests</a><br/><br/>
      </div>
    </section> -->
    <a name="work" id="work"></a>
    <p style="font-weight: 900">I am currently working on...</p>
    <div class="container projects-container">
      <div class="row projects">
        <div class="four columns">
          <a class="project small" href="/bedrock">
            <div class="project-logo">
              <img src="/img/work/Bedrock.png" id="bedrock"></img>
            </div>
            Private, personal supercomputers.
            <p class="small text">Learn more...</p>
          </a>
        </div>
        <div class="four columns">
          <a class="project small" href="/bangbang">
            <div class="project-logo">
              <img src="/img/work/bangbang-large.png" id="bangbang"></img>
            </div>
            Take action on issues you care about.
            <p class="small text">Learn more...</p>
          </a>
        </div>
        <div class="four columns">
          <a class="project small" href="/strength_in_diversity">
            <div class="project-logo">
              <img src="/img/work/StrengthInDiversity.png" id="strengthindiversity"></img>
            </div>
            Mixed-race, mixed-income community in East Palo Alto
            <p class="small text">Learn more...</p>
          </a>
        </div>
      </div>
    </div>
    <!--  _Index.md content/posts  -->
    <!-- {{ .Content}} -->
    <!-- ------------------------- -->
    <img src="/img/earth-sun.svg" id="earth-sun"></img>
  </section>

  {{ partial "footer.html" . }}
</div>