
<div class="god-container">
  {{ partial "header.html" . }}
  <section class="hero-letter">
    <img src="/img/bj2.jpg" id="headshot"></img>
    <!-- <a class="small" href="#">I can’t read your damned handwriting. Show me text!</a> -->
    <img src="/img/letter3.svg" id="letter"></img>
    <p class="hero-bio">I want to see everyone win</p>
    <p>Not just because it pains me to see people suffer (which it does because I love you guys ❤️). But also because I’m a pragmatist.</p>
    <p>The inequality and "soft oppression" engendered by late 20th-century neoliberal capitalism is the biggest waste ever. Waste in that we are squandering mind-boggling amounts of human capital by consigning 90% of our sisters and brothers to the dustbin of societal irrelevance the second they pop out of the womb.</p>

    <p>We may have many freedoms on paper, particular in western democracies like the good old US of A. But these freedoms mean nothing when we are too ignorant, insecure, and unhealthy to make use of them. These freedoms mean nothing when in the true balance of power they’re like a fart in the wind. Powerless. <span style="font-style: italic; color: #999999; ">Fortune 500 companies can hire legions of lobbyists to bend the machinery of governance to their will...you get to go wait in line at the fire station every two years to vote for blubbering self-promoting narcissists who do nothing for you. QED.</span></p>
 
    <p>True flourishing stems from not just having freedoms but being able to fully utilize those freedoms.</p>

    <p>This means having access to education that equips us to wisely use our freedom of speech. Being healthy so we can actually show up as engaged citizens. Being secure so that we can calmly navigate the rollercoaster of emotion that is natural for any group of diverse people working hard on big things.</p>

    <p>It means living in a society where our views and needs actually mean something. Where we aren't just doormats for the 1% nor pawns in the power-games of selfish megalomanica assholes nor cannon-fodder for the mindless profiteering of massive world-destroying companies.</p>

    <p>Sure, humans are certainly capable of doing jaw-droppingly stupid and evil stuff. But I believe our better angels will ultimately prevail. We just need to give ourselves the space and support to get there.</p>

    <p>My work is devoted to making this vision of a more happy, healthy, and just world a reality.</p>

    <p>Currently I am building <a href="/bedrock" class="link">Bedrock</a>, a technology that helps people manage their digital life while respecting their freedom and humanity. <span style="font-style: italic; color: #999999; ">In other words--Google/FB/NSA/et al -- back off and let us do our thing in peace.</span></p>

    <p>I love reading and sports, physicality and art, petrichor in the chaparral covered hills of Santa Barbara with the sun spangled waters of the SB channel glittering in the distance. I love animals and trees, bleak windswept vistas and the primordial mist-shrouded coasts of Northern California.</p>

    <p>Looking forward to seeing you out there.</p>
    <img src="/img/bjsignature.png" id="signature"></img>
    <a name="contact" id="contact"></a>
    <a target="_blank" href="mailto:bjexternal@gmail.com" class="email-link">Email me</a>
    <p class="small email-text">bjexternal - gmail</p>
  </section>
  <section class="about">
<!--     <section>
      <div class="link-index">
        <h6>Table of Contents</h6>
        <a href="#work" class="link">Currently working on</a><br/><br/>
        <a href="#interests" class="link">Interests</a><br/><br/>
        <a href="#books-etc" class="link">Notable Books, Essays, Articles, Art, etc.</a><br/><br/>
        <a href="#other-interests" class="link">Other Interests</a><br/><br/>
      </div>
    </section> -->
    <a name="work" id="work"></a>
    <h2>I am currently working on...</h2>
    <div class="container projects-container">
      <div class="row projects">
        <div class="four columns">
          <a class="project small" href="/bedrock">
            <div class="project-logo">
              <img src="/img/work/Bedrock.png" id="bedrock"></img>
            </div>
            Private supercomputers that organize everything for you.
            <p class="small text">Learn more...</p>
          </a>
        </div>
        <div class="four columns">
          <a class="project small" href="/bangbang">
            <div class="project-logo">
              <img src="/img/work/bangbang-large.png" id="bangbang"></img>
            </div>
            Take action on issues you care about.
            <p class="small text">Learn more...</p>
          </a>
        </div>
        <div class="four columns">
          <a class="project small" href="/strength_in_diversity">
            <div class="project-logo">
              <img src="/img/work/StrengthInDiversity.png" id="strengthindiversity"></img>
            </div>
            Mixed-race, mixed-income community in East Palo Alto, CA
            <p class="small text">Learn more...</p>
          </a>
        </div>
      </div>
    </div>
    <!--  _Index.md content/posts  -->
    {{ .Content}}
    <!-- ------------------------- -->
  </section>

  {{ partial "footer.html" . }}
</div>